@import '../../App.scss';

.animal {
  @include responsive {
    @include flexbox(column);
    align-items: center;
  }

  &__img {
    width: max-content;

    &--img {
      min-width: 200px;
      min-height: 200px;
    }
  }

  &__button {
    &--btn {
      @include button-style;
    }
  }
}
