@import './styles/variables';
@import './styles/mixins';

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  @include flexbox(column);
  font-family: $font__pizelify;
  background-color: $black;
  color: $white;

  #root {
    @include flexbox(column);
    flex: 1;

    main {
      @include flexbox(row);
      flex: 1;
      align-items: center;
      justify-content: center;
      @include responsive {
        justify-content: stretch;
      }

      .advice-animal-container {
        @include flexbox;
        @include responsive {
          flex-direction: column-reverse;
          flex-grow: 1;
        }
      }
    }
  }
}
